.app {
  background-color: rgb(218, 255, 251);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.div2 {
  width: 80%;
  flex-direction: column;
  display: flex;
  gap: 4;
  padding: 34px;
  margin: 2px;
  border-radius: 4px;
}

.hea1 {
  text-align: center;
  line-height: normal;
  /* color: white; */

  /* font-size: 3xll; */
  margin-bottom: 26px;
  color: rgb(4, 54, 74);
}

.di3 {
  background-color:white;
  color:rgb(26, 172, 172);
  width: fit-content;
  margin: auto;
  padding: 12px;
  border-radius: 50%;
}

.lab {
  font-weight: bold;
  font-size: medium;
  /* color: white; */
  text-align: center;
  margin: 10px 0px;
  color: rgb(4, 54, 74);
}

.otp-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-items: center;
  align-items: center;
  grid-column-gap: 0ch; /* reduce the gap between boxes to 2 pixels */
  margin: 8px 0px;
}

.butt {
  background-color: rgb(26, 172, 172);
  width: auto;
  flex: auto;
  gap: 1;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 4px;
  color: white;
  margin: 14px 0px;
  /* margin: 8px 0px; */
}

.load
{
  margin-top: 1px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
